@model IEnumerable<eTickets.Models.Actor>

@{
	ViewData["Title"] = "Index";
}

<h1>Thông tin diễn viên</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">
		<i class="bi bi-plus-circle"></i> &nbsp;Tạo mới
	</a>
</p>
<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.ProfilePictureURL)
					</th>
					<th >
						@Html.DisplayNameFor(model => model.FullName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Bio)
					</th>
					<th></thclass>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="align-middle">
							<img class="rounded-circle" src="@item.ProfilePictureURL"
							 alt="@item.FullName" style="max-width:150px" />
						</td>
						<td class="align-middle ">
							@Html.DisplayFor(modelItem => item.FullName)
						</td>
						<td class="align-middle ">
							@Html.DisplayFor(modelItem => item.Bio)
						</td>
						<td class="align-middle ">
							<a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">
								<i class="bi bi-pencil-square"></i> &nbsp;Edit
							</a> |
							<a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">
								<i class="bi bi-plus-circle"></i> &nbsp;Details
							</a> |
							<a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">
								<i class="bi bi-x-square-fill"></i> &nbsp;Delete
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
